* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.title h1,
h2,
nav {
    font-size: 5em;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    text-align: center;
}


/* Background */

@keyframes move-twinkle-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

.stars,
.twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000 url("assets/stars.png") repeat top center;
    z-index: 1;
}

.twinkling {
    background: transparent url("assets/twinkling.png") repeat top center;
    z-index: 2;
    animation: move-twinkle-back 200s linear infinite;
}

section {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


/* headiing */

.title {
    z-index: 5;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient( to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    background-size: 175%;
    text-align: center;
    font-weight: 100;
    filter: blur(0.65px);
}

.title h1 {
    font-size: 7em;
}

.title h2 {
    z-index: 6;
    font-size: 2.5rem;
    color: #ffffff;
    -webkit-background-clip: text;
}

@keyframes animate {
    0% {
        background-position: 0 100%;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 100%;
    }
}


/* index page nav */

nav {
    display: flex;
    justify-content: space-evenly;
    z-index: 4;
    font-size: 2.3rem;
    /* background: #050801; */
}

.nav2 a {
    width: 20%;
    height: 15%;
    padding: 1%;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 7px;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 25px;
    margin: 20px;
    background: transparent;
    outline: none;
    border: 2px solid transparent;
    transition: 300ms;
}

.nav2 a:nth-child(1) {
    color: aqua;
    text-decoration: none;
}

nav a:nth-child(2) {
    color: yellow;
    text-decoration: none;
}

nav a:nth-child(3) {
    color: fuchsia;
    text-decoration: none;
}

nav a:nth-child(4) {
    color: greenyellow;
    text-decoration: none;
}

.nav2 a:nth-child(1):hover {
    color: #050801;
    border: 2px solid aqua;
    background: aqua;
    box-shadow: 0 0 20px aqua;
}

nav a:nth-child(2):hover {
    color: #050801;
    border: 2px solid yellow;
    background: yellow;
    box-shadow: 0 0 20px yellow;
}

nav a:nth-child(3):hover {
    color: #050801;
    border: 2px solid fuchsia;
    background: fuchsia;
    box-shadow: 0 0 20px fuchsia;
}

nav a:nth-child(4):hover {
    color: #050801;
    border: 2px solid greenyellow;
    background: greenyellow;
    box-shadow: 0 0 20px greenyellow;
}


/* header nav */

header {
    top: 0;
    position: relative;
    z-index: 100;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header nav {
    background: #2c2c2c;
    height: 80px;
    width: 100%;
}

label.logo a {
    z-index: 5;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6);
    -webkit-background-clip: text;
    background-size: 500%;
    text-align: center;
    font-weight: 100;
    filter: blur(0.65px);
    font-size: 3rem;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    animation: animate 5s linear infinite;
    background-size: 175%;
}

nav ul {
    float: right;
    /* margin-right: 20px; */
}

nav ul li {
    font-size: 1.8rem;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    justify-content: space-between;
}

header nav ul li a {
    color: white;
    text-transform: uppercase;
}

header nav ul li.about-nav a {
    color: #050801;
    border: 12px solid aqua;
    background: aqua;
    box-shadow: 0 0 20px aqua;
    border-radius: 5px;
    pointer-events: none;
    cursor: none;
}

header nav ul li.project-nav a {
    color: #050801;
    border: 12px solid yellow;
    background: yellow;
    box-shadow: 0 0 20px yellow;
    border-radius: 5px;
    pointer-events: none;
    cursor: none;
}

header nav ul li.blog-nav a {
    color: #050801;
    border: 12px solid fuchsia;
    background: fuchsia;
    box-shadow: 0 0 20px fuchsia;
    border-radius: 5px;
    pointer-events: none;
    cursor: none;
}

header nav ul li.contact-nav a {
    color: #050801;
    border: 12px solid #9fff5f;
    background: #9fff5f;
    box-shadow: 0 0 20px #9fff5f;
    border-radius: 5px;
    pointer-events: none;
    cursor: none;
}

header nav ul li:nth-child(1)>a:hover {
    color: aqua;
    text-shadow: 0 0 5px aqua;
}

header nav ul li:nth-child(2)>a:active,
header nav ul li:nth-child(2)>a:hover {
    color: yellow;
    text-shadow: 0 0 5px yellow;
}

header nav ul li:nth-child(3)>a:active,
header nav ul li:nth-child(3)>a:hover {
    color: fuchsia;
    text-shadow: 0 0 5px fuchsia;
}

header nav ul li:nth-child(4)>a:active,
header nav ul li:nth-child(4)>a:hover {
    color: #9fff5f;
    text-shadow: 0 0 5px #9fff5f;
}


/* hamburger button */

.checkBtn {
    font-size: 2.8rem;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/* mobile nav bar */

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    header nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkBtn {
        display: block;
    }
    ul {
        position: fixed;
        height: 100vh;
        background: #2c2c2c;
        top: 80px;
        right: 0%;
        left: 100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    header nav ul li a:hover,
    header nav ul li a :active {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0%;
    }
    .about {
        display: grid;
    }
    .about img {
        display: grid;
        position: absolute;
    }
}


/* about page */

.about {
    display: block;
    height: 100%;
    position: relative;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}


/* about image */

.about img {
    /* margin-top: rem; */
    height: 100%;
    background-repeat: no-repeat;
    background-position: left;
    left: 10%;
    z-index: 20;
    color: #ffffff;
    opacity: 1;
    /* margin-right: 140%; */
    overflow: hidden;
}

.image-div {
    display: none;
}

.about .description {
    color: #ffffff;
    z-index: 20;
    justify-self: left;
    filter: blur(0.7px);
    width: 40%;
    margin-top: 4rem;
}

.about .description h1 {
    font-size: 4em;
    text-shadow: 0 0 1px rgba(255, 255, 255, 1), 0 0 10px rgba(255, 255, 255, 1), 0 0 7px rgba(255, 255, 255, 1);
}

.about .description p {
    font-size: 2em;
}


/* projects page */

.projects {
    display: block;
    height: 100%;
    position: relative;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}


/* project heading */

.projects h1 {
    z-index: 20;
    position: relative;
    font-size: 8rem;
    color: rgb(255, 255, 255);
    -webkit-background-clip: text;
    letter-spacing: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 0.06em 0 0 rgba(207, 57, 57, 0.75), -0.035em -0.035em 0 rgba(57, 187, 57, 0.75), 0.06em 0.07em 0 rgba(38, 38, 194, 0.75);
    animation: glitch 1s infinite;
    filter: blur(1px);
}

.projects h1 span {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes glitch {
    0% {
        text-shadow: 0.06em 0 0 rgba(207, 57, 57, 0.75), -0.035em -0.035em 0 rgba(57, 187, 57, 0.75), 0.06em 0.07em 0 rgba(38, 38, 194, 0.75);
    }
    14% {
        text-shadow: -0.06em 0 0 rgba(207, 57, 57, 0.75), 0.035em 0.035em 0 rgba(57, 187, 57, 0.75), -0.06em -0.07em 0 rgba(38, 38, 194, 0.75);
    }
    15% {
        text-shadow: 0.06em 0 0 rgba(207, 57, 57, 0.75), -0.035em -0.035em 0 rgba(57, 187, 57, 0.75), 0.06em 0.07em 0 rgba(38, 38, 194, 0.75);
    }
    49% {
        text-shadow: -0.06em 0 0 rgba(207, 57, 57, 0.75), 0.035em 0.035em 0 rgba(57, 187, 57, 0.75), -0.06em -0.07em 0 rgba(38, 38, 194, 0.75);
    }
    50% {
        text-shadow: 0.06em 0 0 rgba(207, 57, 57, 0.75), -0.035em -0.035em 0 rgba(57, 187, 57, 0.75), 0.06em 0.07em 0 rgba(38, 38, 194, 0.75);
    }
    99% {
        text-shadow: -0.06em 0 0 rgba(207, 57, 57, 0.75), 0.035em 0.035em 0 rgba(57, 187, 57, 0.75), -0.06em -0.07em 0 rgba(38, 38, 194, 0.75);
    }
    100% {
        text-shadow: 0.06em 0 0 rgba(207, 57, 57, 0.75), -0.035em -0.035em 0 rgba(57, 187, 57, 0.75), 0.06em 0.07em 0 rgba(38, 38, 194, 0.75);
    }
}


/* project cards */

.projects-container {
    z-index: 10;
    color: rgb(201, 201, 201);
    display: flex;
    position: relative;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    filter: blur(0.65px);
}

.projects-container .card {
    position: relative;
}

.projects-container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.projects-container .card .face.face1 {
    position: relative;
    background: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    transform: translateY(135px);
    height: 240px;
    border-radius: 10px 10px 0 0;
}

.projects-container .card:hover .face.face1 {
    background: linear-gradient(315deg, #003e5a, #610022);
    opacity: 0.8;
    transform: translateY(0);
}

.projects-container .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.projects-container .card:hover .face.face1 .content {
    opacity: 1;
    max-width: 100px;
}

.projects-container .card .face.face1 .content i {
    font-size: 4em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects-container .card .face.face1 .content h3 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.projects-container .card:hover .face.face1 .content h3 {
    margin: 0 0 0;
    padding: 0;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.projects-container .card .face.face2 {
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 30px 60px rgba(41, 41, 41, 0.8);
    transform: translateY(-100px);
    border-radius: 0 0 10px 10px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
}

.projects-container .card:hover .face.face2 {
    transform: translateY(0);
}

.projects-container .card .face.face2 p {
    margin: 0;
    padding: 0;
}

.projects-container .card .face.face2 a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid #333;
}

.projects-container .card .face.face2 a:hover {
    background: #333;
    color: #ffffff;
}


/* Blog page */

#blog-title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: relative;
    font-size: 10rem;
    color: #f9dec2;
    font-family: "Roboto", sans-serif;
    -webkit-background-clip: text;
    letter-spacing: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 2.6px 2.6px 0 #af0022, 5px 5px 0 #000, 10px 10px 0 #4b4b4b;
    filter: blur(0.5px);
}

.blog-container {
    margin-top: 5rem;
    z-index: 10;
    color: rgb(201, 201, 201);
    display: flex;
    position: relative;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    filter: blur(0.65px);
}

.blog-post {
    width: 80%;
    max-width: 98rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 1rem 3rem rgba(48, 48, 48, 0.8);
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.blog-post-img {
    min-width: 25rem;
    max-width: 25rem;
    height: 20rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.8rem;
}

.blog-post-img::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient( to right, rgb(255, 159, 0, 0.6), rgb(185, 46, 52, 0.6));
    box-shadow: 0.5rem 0.5rem 3rem 1px rgba(146, 146, 146, 0.05);
    border-radius: 0.8rem;
}

.blog-post-date {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.blog-post-title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: rgba(241, 71, 80, 0.6);
    font-weight: 900;
}

.blog-post-text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
}

.blog-post-cta {
    margin-top: 21px;
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #ffffff;
    background-image: linear-gradient( to right, rgb(255, 159, 0) 0%, #b92e34 100%);
    border-radius: 0.8rem;
    text-decoration: none;
}

.blog-post-cta:hover {
    background-image: linear-gradient( to right, #b92e34 0%, rgb(255, 159, 0) 100%);
}

@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;
    }
    .blog-post-img {
        min-width: 22rem;
        max-width: 22rem;
        height: 18rem;
    }
}

@media screen and (max-width: 868px) {
    .blog-post {
        max-width: 70rem;
    }
}

@media screen and (max-width: 768px) {
    .blog-post {
        padding: 2.5 rem;
        flex-direction: column;
    }
    .blog-post-img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}


/* Contact  */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.contact .swipe-in-text h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    font-size: 5rem;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    animation: fade-in-text 0.01s linear 2.2s forwards;
}

.swipe-in-text {
    position: relative;
    width: fit-content;
}

.swipe-in-text::after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    width: 0;
    bottom: 0;
    z-index: 11;
    background-color: #ff5858;
    animation: swipe-in-text 1.5s ease-out 1.5s forwards;
}

@keyframes swipe-in-text {
    0% {
        width: 0%;
        right: 100%;
    }
    50% {
        width: 100%;
        right: 0;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes fade-in-text {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-decoration: none; */
}

.social-media-icons ul {
    z-index: 11;
    display: flex;
    text-decoration: none;
}

.social-media-icons ul a {
    position: relative;
    display: block;
    color: rgb(141, 141, 141);
    font-size: 2.5em;
    height: 2.5em;
    width: 2.5em;
    background: #4d4646;
    line-height: 2.5em;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    margin: 1em 1.5em;
    cursor: pointer;
    transition: 0.5s;
}

.social-media-icons ul a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #d35400;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -4;
    transform: scale(0.9);
    transition: 0.5s;
}

.social-media-icons ul a:nth-child(1):before {
    background: fuchsia;
    color: fuchsia;
}

.social-media-icons ul a:nth-child(2):before {
    background: #0e76a8;
    color: #0e76a8;
}

.social-media-icons ul a:nth-child(3):before {
    background: #1a8917;
    color: #1a8917;
}

.social-media-icons ul a:nth-child(4):before {
    background: #fbbc05;
    color: #fbbc05;
}

.social-media-icons ul a:hover:before {
    transform: scale(1.2);
    filter: blur(3px);
    /* box-shadow: 0 0 15px #d35400; */
}

.social-media-icons ul a:nth-child(1):hover:before {
    box-shadow: 0 0 15px fuchsia;
}

.social-media-icons ul a:nth-child(2):hover:before {
    box-shadow: 0 0 15px #0072b1;
}

.social-media-icons ul a:nth-child(3):hover:before {
    box-shadow: 0 0 15px #1a8917;
}

.social-media-icons ul a:nth-child(4):hover:before {
    box-shadow: 0 0 15px #fbbc05;
}

.social-media-icons ul a:nth-child(1):hover {
    color: fuchsia;
    box-shadow: 0 0 15px fuchsia;
    text-shadow: 0 0 15px fuchsia;
}

.social-media-icons ul a:nth-child(2):hover {
    color: #0072b1;
    box-shadow: 0 0 15px #0072b1;
    text-shadow: 0 0 15px #0072b1;
}

.social-media-icons ul a:nth-child(3):hover {
    color: #1a8917;
    box-shadow: 0 0 15px #1a8917;
    text-shadow: 0 0 15px #1a8917;
}

.social-media-icons ul a:nth-child(4):hover {
    color: #fbbc05;
    box-shadow: 0 0 15px #fbbc05;
    text-shadow: 0 0 15px #fbbc05;
}

.form {
    width: 50%;
    margin-top: 5em;
    z-index: 10;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    display: block;
    font-size: 100%;
}

input,
input::-webkit-input-placeholder {
    color: #fff;
    height: 3em;
    width: 100%;
    margin: 20px 0;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #4d4646;
    font-size: 1.4em;
    letter-spacing: 1px;
}

textarea::placeholder,
#msg {
    display: block;
    box-sizing: padding-box;
    color: #fff;
    height: 5.5em;
    width: 100%;
    margin: 20px 0;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #4d4646;
    font-size: 1.5em;
    letter-spacing: 1px;
    overflow: hidden;
}

.send-button {
    padding: 20px 32px;
    font: 2em;
    background: #0078ff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    color: #fff;
    width: 15%;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 0 auto;
}

.send-button:hover {
    background: #0b4a92;
    cursor: pointer;
}

.thanks {
    color: #050801;
    border: 2px solid greenyellow;
    background: greenyellow;
    box-shadow: 0 0 20px greenyellow;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    border-radius: 8px;
    margin-top: 1em;
    padding: .5em;
    font-family: "Roboto", sans-serif;
}