* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.title h1,
h2,
nav {
  font-size: 5em;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  text-align: center;
}

/* Background */
@-webkit-keyframes move-twinkle-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@keyframes move-twinkle-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url("assets/stars.png") repeat top center;
  z-index: 1;
}

.twinkling {
  background: transparent url("assets/twinkling.png") repeat top center;
  z-index: 2;
  -webkit-animation: move-twinkle-back 200s linear infinite;
          animation: move-twinkle-back 200s linear infinite;
}

section {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

/* headiing */
.title {
  z-index: 5;
  color: transparent;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, right top, left top, from(#2ecc71), color-stop(#3498db), color-stop(#9b59b6), to(#f39c12));
  background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
  -webkit-background-clip: text;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
  background-size: 175%;
  text-align: center;
  font-weight: 100;
  -webkit-filter: blur(0.65px);
          filter: blur(0.65px);
}

.title h1 {
  font-size: 7em;
}

.title h2 {
  z-index: 6;
  font-size: 2.5rem;
  color: #ffffff;
  -webkit-background-clip: text;
}

@-webkit-keyframes animate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes animate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

/* index page nav */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 4;
  font-size: 2.3rem;
  /* background: #050801; */
}

.nav2 a {
  width: 20%;
  height: 15%;
  padding: 1%;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 7px;
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 25px;
  margin: 20px;
  background: transparent;
  outline: none;
  border: 2px solid transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.nav2 a:nth-child(1) {
  color: aqua;
  text-decoration: none;
}

nav a:nth-child(2) {
  color: yellow;
  text-decoration: none;
}

nav a:nth-child(3) {
  color: fuchsia;
  text-decoration: none;
}

nav a:nth-child(4) {
  color: greenyellow;
  text-decoration: none;
}

.nav2 a:nth-child(1):hover {
  color: #050801;
  border: 2px solid aqua;
  background: aqua;
  -webkit-box-shadow: 0 0 20px aqua;
          box-shadow: 0 0 20px aqua;
}

nav a:nth-child(2):hover {
  color: #050801;
  border: 2px solid yellow;
  background: yellow;
  -webkit-box-shadow: 0 0 20px yellow;
          box-shadow: 0 0 20px yellow;
}

nav a:nth-child(3):hover {
  color: #050801;
  border: 2px solid fuchsia;
  background: fuchsia;
  -webkit-box-shadow: 0 0 20px fuchsia;
          box-shadow: 0 0 20px fuchsia;
}

nav a:nth-child(4):hover {
  color: #050801;
  border: 2px solid greenyellow;
  background: greenyellow;
  -webkit-box-shadow: 0 0 20px greenyellow;
          box-shadow: 0 0 20px greenyellow;
}

/* header nav */
header {
  top: 0;
  position: relative;
  z-index: 100;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header nav {
  background: #2c2c2c;
  height: 80px;
  width: 100%;
}

label.logo a {
  z-index: 5;
  color: transparent;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, right top, left top, from(#2ecc71), color-stop(#3498db), to(#9b59b6));
  background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6);
  -webkit-background-clip: text;
  background-size: 500%;
  text-align: center;
  font-weight: 100;
  -webkit-filter: blur(0.65px);
          filter: blur(0.65px);
  font-size: 3rem;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
  background-size: 175%;
}

nav ul {
  float: right;
  /* margin-right: 20px; */
}

nav ul li {
  font-size: 1.8rem;
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li a {
  color: white;
  text-transform: uppercase;
}

header nav ul li.about-nav a {
  color: #050801;
  border: 12px solid aqua;
  background: aqua;
  -webkit-box-shadow: 0 0 20px aqua;
          box-shadow: 0 0 20px aqua;
  border-radius: 5px;
  pointer-events: none;
  cursor: none;
}

header nav ul li.project-nav a {
  color: #050801;
  border: 12px solid yellow;
  background: yellow;
  -webkit-box-shadow: 0 0 20px yellow;
          box-shadow: 0 0 20px yellow;
  border-radius: 5px;
  pointer-events: none;
  cursor: none;
}

header nav ul li.blog-nav a {
  color: #050801;
  border: 12px solid fuchsia;
  background: fuchsia;
  -webkit-box-shadow: 0 0 20px fuchsia;
          box-shadow: 0 0 20px fuchsia;
  border-radius: 5px;
  pointer-events: none;
  cursor: none;
}

header nav ul li.contact-nav a {
  color: #050801;
  border: 12px solid #9fff5f;
  background: #9fff5f;
  -webkit-box-shadow: 0 0 20px #9fff5f;
          box-shadow: 0 0 20px #9fff5f;
  border-radius: 5px;
  pointer-events: none;
  cursor: none;
}

header nav ul li:nth-child(1) > a:hover {
  color: aqua;
  text-shadow: 0 0 5px aqua;
}

header nav ul li:nth-child(2) > a:active,
header nav ul li:nth-child(2) > a:hover {
  color: yellow;
  text-shadow: 0 0 5px yellow;
}

header nav ul li:nth-child(3) > a:active,
header nav ul li:nth-child(3) > a:hover {
  color: fuchsia;
  text-shadow: 0 0 5px fuchsia;
}

header nav ul li:nth-child(4) > a:active,
header nav ul li:nth-child(4) > a:hover {
  color: #9fff5f;
  text-shadow: 0 0 5px #9fff5f;
}

/* hamburger button */
.checkBtn {
  font-size: 2.8rem;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* mobile nav bar */
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  header nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkBtn {
    display: block;
  }
  ul {
    position: fixed;
    height: 100vh;
    background: #2c2c2c;
    top: 80px;
    right: 0%;
    left: 100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  header nav ul li a:hover,
  header nav ul li a :active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0%;
  }
  .about {
    display: -ms-grid;
    display: grid;
  }
  .about img {
    display: -ms-grid;
    display: grid;
    position: absolute;
  }
}

/* about page */
.about {
  display: block;
  height: 100%;
  position: relative;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

/* about image */
.about img {
  /* margin-top: rem; */
  width: 40%;
  background-repeat: no-repeat;
  background-position: left;
  left: 10%;
  z-index: 20;
  color: #ffffff;
  opacity: 1;
  /* margin-right: 140%; */
  overflow: hidden;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.image-div {
  display: none;
}

.about .description {
  color: #333;
  z-index: 20;
  -ms-grid-column-align: left;
      justify-self: left;
  width: 60%;
  margin-top: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about .description h1 {
  font-size: 3.5em;
  text-shadow: 0 0 1px white, 0 0 10px white, 0 0 7px white;
}

.about .description p {
  font-size: 2em;
}

/* projects page */
.projects {
  height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects h1 {
  font-size: 4em;
  font-family: roboto;
  margin: 0 auto;
  color: #333;
  font-weight: 800;
  margin-bottom: 4rem;
}

.project-container {
  margin: 0 -4%;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  width: 1300px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin-bottom: 4rem;
}

.card {
  margin: 0;
}

.card-img {
  height: 290px;
  width: 420px;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 5px 2px #929292;
          box-shadow: 0 0 5px 2px #929292;
  display: block;
}

.card-overlay {
  position: relative;
  margin-top: -68%;
  height: 290px;
  width: 420px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4em;
  z-index: 100;
}

.card:nth-of-type(1) > .card-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

.card:nth-of-type(2) > .card-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.card:nth-of-type(3) > .card-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ span 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
}

.card:nth-of-type(4) > .card-img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

.card:nth-of-type(5) > .card-img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.card:nth-of-type(6) > .card-img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
}

/* Blog page */
#blog-title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  position: relative;
  font-size: 4rem;
  color: #333;
  font-family: "Roboto", sans-serif;
  -webkit-background-clip: text;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
}

.blog-container {
  margin-top: 5rem;
  z-index: 10;
  color: #c9c9c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
}

.blog-post {
  max-width: 1000px;
  padding: .5rem;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 1rem 3rem rgba(48, 48, 48, 0.8);
          box-shadow: 0 1rem 3rem rgba(48, 48, 48, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.8rem;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.blog-post-img {
  min-width: 25rem;
  max-width: 25rem;
  height: 20rem;
  -webkit-transform: translateX(-8rem);
          transform: translateX(-8rem);
  position: relative;
}

.blog-post-img img {
  width: 70%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.8rem;
}

.blog-post-img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0.5rem 0.5rem 3rem 1px rgba(146, 146, 146, 0.05);
          box-shadow: 0.5rem 0.5rem 3rem 1px rgba(146, 146, 146, 0.05);
  border-radius: 0.8rem;
}

.blog-post-date {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.blog-post-title {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: rgba(241, 71, 80, 0.6);
  font-weight: 900;
}

.blog-post-text {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
}

.blog-post-cta {
  margin-top: 21px;
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9f00), to(#b92e34));
  background-image: linear-gradient(to right, #ff9f00 0%, #b92e34 100%);
  border-radius: 0.8rem;
  text-decoration: none;
}

.blog-post-cta:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#b92e34), to(#ff9f00));
  background-image: linear-gradient(to right, #b92e34 0%, #ff9f00 100%);
}

@media screen and (max-width: 1068px) {
  .blog-post {
    max-width: 80rem;
  }
  .blog-post-img {
    min-width: 22rem;
    max-width: 22rem;
    height: 18rem;
  }
}

@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 70rem;
  }
}

@media screen and (max-width: 768px) {
  .blog-post {
    padding: 2.5 rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-post-img {
    min-width: 100%;
    max-width: 100%;
    -webkit-transform: translate(0, -8rem);
            transform: translate(0, -8rem);
  }
}

/* Contact  */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8em;
}

.contact .swipe-in-text h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  position: relative;
  font-size: 4rem;
  color: #333;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0;
  -webkit-animation: fade-in-text 0.01s linear 2.2s forwards;
          animation: fade-in-text 0.01s linear 2.2s forwards;
}

.swipe-in-text {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.swipe-in-text::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  width: 0;
  bottom: 0;
  z-index: 11;
  background-color: #ff5858;
  -webkit-animation: swipe-in-text 1.5s ease-out 1.5s forwards;
          animation: swipe-in-text 1.5s ease-out 1.5s forwards;
}

@-webkit-keyframes swipe-in-text {
  0% {
    width: 0%;
    right: 100%;
  }
  50% {
    width: 100%;
    right: 0;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes swipe-in-text {
  0% {
    width: 0%;
    right: 100%;
  }
  50% {
    width: 100%;
    right: 0;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes fade-in-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* text-decoration: none; */
}

.social-media-icons ul {
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.social-media-icons ul a {
  position: relative;
  display: block;
  color: #8d8d8d;
  font-size: 2.5em;
  height: 2.5em;
  width: 2.5em;
  background: #4d4646;
  line-height: 2.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  margin: 1em 1.5em;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-media-icons ul a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #d35400;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -4;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-media-icons ul a:nth-child(1):before {
  background: fuchsia;
  color: fuchsia;
}

.social-media-icons ul a:nth-child(2):before {
  background: #0e76a8;
  color: #0e76a8;
}

.social-media-icons ul a:nth-child(3):before {
  background: #1a8917;
  color: #1a8917;
}

.social-media-icons ul a:nth-child(4):before {
  background: #fbbc05;
  color: #fbbc05;
}

.social-media-icons ul a:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: blur(3px);
          filter: blur(3px);
  /* box-shadow: 0 0 15px #d35400; */
}

.social-media-icons ul a:nth-child(1):hover:before {
  -webkit-box-shadow: 0 0 15px fuchsia;
          box-shadow: 0 0 15px fuchsia;
}

.social-media-icons ul a:nth-child(2):hover:before {
  -webkit-box-shadow: 0 0 15px #0072b1;
          box-shadow: 0 0 15px #0072b1;
}

.social-media-icons ul a:nth-child(3):hover:before {
  -webkit-box-shadow: 0 0 15px #1a8917;
          box-shadow: 0 0 15px #1a8917;
}

.social-media-icons ul a:nth-child(4):hover:before {
  -webkit-box-shadow: 0 0 15px #fbbc05;
          box-shadow: 0 0 15px #fbbc05;
}

.social-media-icons ul a:nth-child(1):hover {
  color: fuchsia;
  -webkit-box-shadow: 0 0 15px fuchsia;
          box-shadow: 0 0 15px fuchsia;
  text-shadow: 0 0 15px fuchsia;
}

.social-media-icons ul a:nth-child(2):hover {
  color: #0072b1;
  -webkit-box-shadow: 0 0 15px #0072b1;
          box-shadow: 0 0 15px #0072b1;
  text-shadow: 0 0 15px #0072b1;
}

.social-media-icons ul a:nth-child(3):hover {
  color: #1a8917;
  -webkit-box-shadow: 0 0 15px #1a8917;
          box-shadow: 0 0 15px #1a8917;
  text-shadow: 0 0 15px #1a8917;
}

.social-media-icons ul a:nth-child(4):hover {
  color: #fbbc05;
  -webkit-box-shadow: 0 0 15px #fbbc05;
          box-shadow: 0 0 15px #fbbc05;
  text-shadow: 0 0 15px #fbbc05;
}

.form {
  width: 40%;
  max-width: 1300px;
  margin-top: 10em;
  z-index: 10;
  position: relative;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  font-size: 100%;
}

input,
input::-webkit-input-placeholder {
  color: #333;
  height: 3em;
  width: 100%;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #4d4646;
  font-size: 1.4em;
  letter-spacing: 1px;
}

textarea::-webkit-input-placeholder,
#msg {
  display: block;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  color: #fff;
  height: 5.5em;
  width: 100%;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #4d4646;
  font-size: 1.5em;
  letter-spacing: 1px;
  overflow: hidden;
}

textarea:-ms-input-placeholder,
#msg {
  display: block;
  box-sizing: padding-box;
  color: #fff;
  height: 5.5em;
  width: 100%;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #4d4646;
  font-size: 1.5em;
  letter-spacing: 1px;
  overflow: hidden;
}

textarea::-ms-input-placeholder,
#msg {
  display: block;
  box-sizing: padding-box;
  color: #fff;
  height: 5.5em;
  width: 100%;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #4d4646;
  font-size: 1.5em;
  letter-spacing: 1px;
  overflow: hidden;
}

textarea::placeholder,
#msg {
  display: block;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  color: #fff;
  height: 5.5em;
  width: 100%;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #4d4646;
  font-size: 1.5em;
  letter-spacing: 1px;
  overflow: hidden;
}

.send-button {
  padding: 20px 32px;
  font-size: 1em;
  background: #0078ff;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  color: #fff;
  width: 15%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin: 0 auto;
}

.send-button:hover {
  background: #0b4a92;
  cursor: pointer;
}

.thanks {
  visibility: hidden;
}

.thanks.success {
  visibility: visible;
  color: #050801;
  border: 2px solid greenyellow;
  background: greenyellow;
  -webkit-box-shadow: 0 0 20px greenyellow;
          box-shadow: 0 0 20px greenyellow;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  border-radius: 8px;
  margin-top: 1em;
  padding: .5em;
  font-family: "Roboto", sans-serif;
  -webkit-animation: status 3s ease forwards;
          animation: status 3s ease forwards;
}

.thanks.error {
  visibility: visible;
  color: #050801;
  border: 2px solid #ff1100;
  background: #ff1100;
  -webkit-box-shadow: 0 0 20px #ff1100;
          box-shadow: 0 0 20px #ff1100;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  border-radius: 8px;
  margin-top: 1em;
  padding: .5em;
  font-family: "Roboto", sans-serif;
  -webkit-animation: status 3s ease forwards;
          animation: status 3s ease forwards;
}

@-webkit-keyframes status {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes status {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */