* {
  margin: 0;
  padding: 0;
}

.title h1,
h2,
nav {
  font-size: 5em;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  text-align: center;
}

@keyframes move-twinkle-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url("assets/stars.png") repeat top center;
  z-index: 1;
}

.twinkling {
  background: transparent url("assets/twinkling.png") repeat top center;
  z-index: 2;
  animation: move-twinkle-back 200s linear infinite;
}
section {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* background: #000; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.title {
  max-width: 1000px;
}

.title:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00adff;
  z-index: 6;
  mix-blend-mode: color;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.title h1,
h2,
hr,
nav {
  z-index: 3;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 7em;
  filter: blur(1px);
  font-weight: 100;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 40px rgba(255, 255, 255, 1), 0 0 80px rgba(255, 255, 255, 1),
    0 0 160px rgba(255, 255, 255, 1);
}

h2 {
  font-size: 3.4em;
  filter: blur(0.6px);
  text-transform: initial;
  font-weight: 100;
  text-shadow: 0 0 1px rgba(255, 255, 255, 1), 0 0 2px rgba(255, 255, 255, 1),
    0 0 4px rgba(255, 255, 255, 1), 0 0 8px rgba(255, 255, 255, 1),
    0 0 16px rgba(255, 255, 255, 1);
}

hr {
  position: relative;
  top: 20px;
  border: outset;
  height: 50%;
  margin-bottom: 50 px;
  border-radius: 30%;
}

nav {
  filter: blur(0);
  display: flex;
  justify-content: space-evenly;
  z-index: 3;
  margin-top: 1rem;
  font-size: 2em;
}

nav div {
  width: 20%;
  height: 15%;
  padding: 1%;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 7px;
  cursor: pointer;
  border-radius: 50px;
}
